<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset = "utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  <!-- CSS Stylesheets -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./../../static/styles/main.css">


  <!-- Adding google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300|Satisfy' rel='stylesheet' type='text/css'>

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>
    <!-- Title & logo -->
    <div id="header">
      <h1><i class="fa fa-book"></i> loGym</h1>
    </div>

    <!-- Main body of page -->
    <main role=”main”>

        <div id="content">
            <h2><strong>Workout</strong></h2>

            {{#if content}}
              {{#content}}
                <p><strong>Date</strong> - {{date}}</p>
                <p><strong>Muscle Group</strong> - {{workout.musclegroup}}</p>
                <p><strong>Exercise</strong> - {{workout.exercise}}</p>
                <p><strong>Sets</strong></p>
                    {{#workout.sets}}
                      <ul id="repsList" class="resultListSets">
                          {{#each reps}}
                            <li>Reps: {{this}}</li>
                          {{/each}}
                      </ul>
                      <ul id="kilosList" class="resultListSets">
                          {{#each kilos}}
                            <li>KG's: {{this}}</li>
                          {{/each}}
                      </ul>
                    {{/workout.sets}}
                {{/content}}
            {{else}}
                <p>There are not documents avalable.</p>
            {{/if}}
        </div>

        <form>
          <input type="button" id="backButton" class="buttons" value="Back" onclick="window.location.href='/workouts'">
          <input type="button" id="homeButton" class="buttons" value="Home Page" onclick="window.location.href='/'">
        </form>

    </main>

</body>
</html>
