/* ****************** General **************** */

html, body, #wrapper {
    width: auto;
    min-height: 100%;
}

div#header {
  width: 100%;
  background-color: #4B0082;
  padding: 0.5%;
  margin-left: 0;
  margin-right:0;
  position: relative;
}

body {
  background-color: #483D8B;
}

h1 {
  color: #D3D3D3;
}

label.labels {
    display: block;
}

div#forms {
  background-color: #6A5ACD;
}

div#description p {
  color: #F0FFFF;
}

div#pages {
  display: block;
  height: 5em;
}

footer.info {
  font-size: smaller;
}

p#author {
  padding-left: 0;
  margin-left: 0;
}

/* *************** Links ************** */

span#newDoc {
  margin-left: 5em;
}

span#latest {
  margin-left: 0.5em;
}

span.mainList { /* span for main links */
  display: inline;
  float: left;
  position: relative;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  padding: 0.5%;
  border-radius: 10em;
  background-color: #4B0082;
  -webkit-box-shadow: 2px 6px 8px 0px rgba(49, 50, 50, 1);
  -moz-box-shadow:    2px 6px 8px 0px rgba(49, 50, 50, 1);
  box-shadow:         2px 6px 8px 0px rgba(49, 50, 50, 1);
}

.optionList { /* main links styling */
  text-decoration: none;
  font-size: auto;
  border-style: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #F0F8FF;
}

a.optionList:visited { color: #F0F8FF }
a.optionList:hover { color: #B8860B }
a.optionList:active {
  color: #FF4500;
}

a:link    { color: #F0FFFF }  /* unvisited links */
a:visited { color: #00c }  /* visited links   */
a:hover   { color: #B8860B }
a:active  { color: #FF4500 }  /* active links    */

ul#links {
  list-style-type: none;
  margin-left: -1.5em;
}

ul#execList {
  list-style-type: none;
  color: #F0FFFF
}

/* ************ Buttons ************** */

#add-set {
  border-radius: 0;
  border-style: none;
  background-color: #6A5ACD;
  box-shadow: none;
}

#remove-set {
  border-radius: 0;
  border-style: none;
  background-color: #6A5ACD;
  box-shadow: none;
}

.buttons { /* style for buttons */
  line-height: auto;
  padding: 0.5%;
  border-radius: 10em;
  background-color: #4B0082;
  -webkit-box-shadow: 2px 6px 8px 0px rgba(49, 50, 50, 1);
  -moz-box-shadow:    2px 6px 8px 0px rgba(49, 50, 50, 1);
  box-shadow:         2px 6px 8px 0px rgba(49, 50, 50, 1);
}

#homeButton {
  float: right;
}
