html, body, #wrapper {
    width: 100%;
    min-height: 100%;
}

body {
  background-color: #483D8B;
}

h1 {
  color: #D3D3D3;
}

label.labels {
    display: block;
}

div#forms {
  background-color: #6A5ACD;
}

div#description p {
  color: #F0FFFF;
}

a:link    { color: #F0FFFF }  /* unvisited links */
a:visited { color: #00c }  /* visited links   */
a:hover   { color: #B8860B }
a:active  { color: #FF4500 }  /* active links    */

ul#links {
  list-style-type: none;
}
